.playerContainer {
  position: fixed;
  width: calc(100vw - 8rem);
  padding: 1rem 2.5rem;
  bottom: 2rem;
  left: 3rem;
  border-radius: 99px;
  background: var(--color-neutral-800);
  z-index: 10;
}
.playerContainer::after, .playerContainer::before {
  content: "";
  position: absolute;
  border-radius: 99px;
}
.playerContainer::after {
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-neutral-800);
}
.playerContainer::before {
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  background: linear-gradient(calc(90deg + var(--turns, 0) / 100 * 1turn), var(--color-accent-1), var(--color-accent-2));
  z-index: -1;
  animation: border 5s linear infinite;
}
@media (max-width: 600px) {
  .playerContainer {
    bottom: 1rem;
  }
}
.playerContainer .musicInfo {
  width: calc(100% - 2rem - 10vw);
  margin-left: auto;
}
.playerContainer .musicInfo .textContainer {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: opacity 500ms ease-in;
}
.playerContainer .musicInfo .textContainer .title {
  max-width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.playerContainer .musicInfo .progressContainer {
  height: 4px;
  width: 100%;
  background-color: var(--color-neutral-400);
  border-radius: 99px;
  cursor: pointer;
  transition: opacity 500ms ease-in;
}
.playerContainer .musicInfo .progressContainer .progress {
  border-radius: 99px;
  height: 4px;
  width: 100%;
  transform-origin: left;
  background-color: var(--color-accent-1);
}
.playerContainer .musicInfo .imgContainer {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
  user-select: none;
  animation: rotate 3s linear infinite paused;
}
.playerContainer .musicInfo .imgContainer .img {
  border: 1px solid white;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
}
@media (max-width: 1000px) {
  .playerContainer .musicInfo .imgContainer {
    top: 50%;
    left: 1rem;
    animation: rotateMobile 3s linear infinite paused;
    transform-origin: 50% 0 0;
  }
  .playerContainer .musicInfo .imgContainer, .playerContainer .musicInfo .imgContainer > .img {
    width: 15vw;
    height: 15vw;
  }
}
@media (min-width: 700px) {
  .playerContainer .musicInfo .imgContainer, .playerContainer .musicInfo .imgContainer > .img {
    height: 10vw;
    width: 10vw;
  }
}
.playerContainer .controls {
  width: calc(100% - 2rem - 10vw);
  margin-left: auto;
  margin-top: 0.5rem;
}
.playerContainer .controls .navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.playerContainer .controls .btn {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  color: var(--color-neutral-500);
  font-size: 1.25rem;
  padding: 0.25rem;
}
.playerContainer .controls .btn.big {
  font-size: 1.5rem;
}
.playerContainer .controls .btn:hover, .playerContainer .controls .btn:focus {
  filter: brightness(2);
}
.playerContainer.play .musicInfo .imgContainer {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotateMobile {
  from {
    transform: rotate(0deg) translateY(-50%);
  }
  to {
    transform: rotate(360deg) translateY(-50%);
  }
}
@keyframes border {
  0% {
    --turns: 0;
  }
  1% {
    --turns: 1;
  }
  2% {
    --turns: 2;
  }
  3% {
    --turns: 3;
  }
  4% {
    --turns: 4;
  }
  5% {
    --turns: 5;
  }
  6% {
    --turns: 6;
  }
  7% {
    --turns: 7;
  }
  8% {
    --turns: 8;
  }
  9% {
    --turns: 9;
  }
  10% {
    --turns: 10;
  }
  11% {
    --turns: 11;
  }
  12% {
    --turns: 12;
  }
  13% {
    --turns: 13;
  }
  14% {
    --turns: 14;
  }
  15% {
    --turns: 15;
  }
  16% {
    --turns: 16;
  }
  17% {
    --turns: 17;
  }
  18% {
    --turns: 18;
  }
  19% {
    --turns: 19;
  }
  20% {
    --turns: 20;
  }
  21% {
    --turns: 21;
  }
  22% {
    --turns: 22;
  }
  23% {
    --turns: 23;
  }
  24% {
    --turns: 24;
  }
  25% {
    --turns: 25;
  }
  26% {
    --turns: 26;
  }
  27% {
    --turns: 27;
  }
  28% {
    --turns: 28;
  }
  29% {
    --turns: 29;
  }
  30% {
    --turns: 30;
  }
  31% {
    --turns: 31;
  }
  32% {
    --turns: 32;
  }
  33% {
    --turns: 33;
  }
  34% {
    --turns: 34;
  }
  35% {
    --turns: 35;
  }
  36% {
    --turns: 36;
  }
  37% {
    --turns: 37;
  }
  38% {
    --turns: 38;
  }
  39% {
    --turns: 39;
  }
  40% {
    --turns: 40;
  }
  41% {
    --turns: 41;
  }
  42% {
    --turns: 42;
  }
  43% {
    --turns: 43;
  }
  44% {
    --turns: 44;
  }
  45% {
    --turns: 45;
  }
  46% {
    --turns: 46;
  }
  47% {
    --turns: 47;
  }
  48% {
    --turns: 48;
  }
  49% {
    --turns: 49;
  }
  50% {
    --turns: 50;
  }
  51% {
    --turns: 51;
  }
  52% {
    --turns: 52;
  }
  53% {
    --turns: 53;
  }
  54% {
    --turns: 54;
  }
  55% {
    --turns: 55;
  }
  56% {
    --turns: 56;
  }
  57% {
    --turns: 57;
  }
  58% {
    --turns: 58;
  }
  59% {
    --turns: 59;
  }
  60% {
    --turns: 60;
  }
  61% {
    --turns: 61;
  }
  62% {
    --turns: 62;
  }
  63% {
    --turns: 63;
  }
  64% {
    --turns: 64;
  }
  65% {
    --turns: 65;
  }
  66% {
    --turns: 66;
  }
  67% {
    --turns: 67;
  }
  68% {
    --turns: 68;
  }
  69% {
    --turns: 69;
  }
  70% {
    --turns: 70;
  }
  71% {
    --turns: 71;
  }
  72% {
    --turns: 72;
  }
  73% {
    --turns: 73;
  }
  74% {
    --turns: 74;
  }
  75% {
    --turns: 75;
  }
  76% {
    --turns: 76;
  }
  77% {
    --turns: 77;
  }
  78% {
    --turns: 78;
  }
  79% {
    --turns: 79;
  }
  80% {
    --turns: 80;
  }
  81% {
    --turns: 81;
  }
  82% {
    --turns: 82;
  }
  83% {
    --turns: 83;
  }
  84% {
    --turns: 84;
  }
  85% {
    --turns: 85;
  }
  86% {
    --turns: 86;
  }
  87% {
    --turns: 87;
  }
  88% {
    --turns: 88;
  }
  89% {
    --turns: 89;
  }
  90% {
    --turns: 90;
  }
  91% {
    --turns: 91;
  }
  92% {
    --turns: 92;
  }
  93% {
    --turns: 93;
  }
  94% {
    --turns: 94;
  }
  95% {
    --turns: 95;
  }
  96% {
    --turns: 96;
  }
  97% {
    --turns: 97;
  }
  98% {
    --turns: 98;
  }
  99% {
    --turns: 99;
  }
  100% {
    --turns: 100;
  }
}
